@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin-ext');
body {

    color: #555 !important;
}
h1{
    font-size: 84px !important;
    font-weight: 400 !important;
    margin: 0px !important;
    font-family: 'Roboto Condensed', sans-serif !important;
}
h1 b{
    color:#ff0000;
    font-size: 105px;
}
h2{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 64px !important;
}
.well{
    border: none;
    background: transparent !important;
    border-bottom: none !important;
    /*background: red !important;*/
}
.well p{
    font-size: 16px;
}
.title-uno{
    /*color: #fafafa !important;*/
    font-size: 110px !important;
}
/*.title-dos{
    color: #fafafa ;
}
.title-tres{
    color: #fafafa;
}*/
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
.image-portfolio{
    height: 200px;
    overflow: hidden;
}
.title2{
    font-size: 64px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.delay-uno {
  animation-delay: 1.5s !important;
}
.delay-dos {
  animation-delay: 1.8s !important;
}
.delay-tres {
  animation-delay: 2.1s !important;
}
.delay-cuatro {
  animation-delay: 2.5s !important;
}
.delay-cinco {
  animation-delay: 2.9s !important;
}
.fondo-ghost{
    animation-delay: 0.5s !important;
}
.icons-social{
    float: left;
    font-size: 40px;
    margin-top:20px;
}
.icons-social a{
    color:#999;
}
.icons-social a:hover,
.icons-social a:focus{
    /*color:#eaeaea;*/
}
.btn-well{
    background:#fafafa;
    border:1px solid #cdcdcd !important;
    margin: 30px 0 0 20px;
    color: #555
}
.btn-well:hover{
    background:#efefef;
    color: #555 !important;
}
#about-me{
    display: none;
}
#about-me.intro{
    display: block;
}
.card .card-action a {
    color: #666 !important;
}
.modal-content {
    position: relative;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px !important;
    outline: 0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
}
.modal-header {
    background: #555;
    color: #fafafa;
}
.modal .modal-footer {
    background-color: #555;
}
.modal .modal-close {
    cursor: pointer;
    color: #fafafa;
}
.modal.modal-fixed-footer .modal-footer {
    bottom:-2px;
}
