@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin-ext');
h1{
    font-size: 84px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin: 0px;
}
h1 b{
    color:#ff0000
}
.well{
    border: none;
    background: #fafafa;
}
.title-uno{
    color: #333;
}
.title-dos{
    color: #666;
}
.title-tres{
    color: #999;
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
.image-portfolio{
    height: 200px;
    overflow: hidden;
}
.title2{
    font-size: 64px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
