{% include themes/OPI-theme/_head.html %}
<div class="jumbotron bg-loco">
	<div class="container">
		<h1>Patricio Bustos</h1>
		<h1 class="gris">UX designer <span>/</span> UI Developer</h1>
		<h1 class="grisclaro">Based on México City</h1>
	</div>
</div>
<div id="page" class="container">
	<div  class="row row-offcanvas row-offcanvas-right" role="main">

		<div class="col-xs-12 col-sm-9">
			<div class="unit-inner unit-body-inner">
				{% for post in site.posts %}
						{{ post.content }}
				{% endfor %}
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
		<div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
				<div class="list-group lista">
							<div class="list-group-item"><a href="#skills">My Skills</a></div>
							<div class="list-group-item"><a href="#tools" rel="me">Tools that I'm using</a></div>
							<div class="list-group-item"><a href="#services" rel="me">Services</a></div>
							<div class="list-group-item"><a href="#contact" rel="me">Contact</a></div>
							<div class="list-group-item"><a href="http://goo.gl/euEItH" rel="me">Download my CV</a></div>

				</div>

		</div>

	</div><!-- body -->
{% include themes/OPI-theme/_footer.html %}
