{% include themes/OPI-theme/_head.html %}
{% include themes/OPI-theme/_top.html %}


<div id="page" class="container">
	<div  class="row row-offcanvas row-offcanvas-right" role="main">

		<div class="col-xs-12 col-sm-9">
			<div class="unit-inner unit-body-inner">
        {% for post in site.tags.blog %}
          <a href="{{ post.url }}">{{ post.title }}</a>
            {{ post.content | strip_html | truncatewords:75}}
        {% endfor %}
      </div><!-- unit-inner -->
    </div><!-- unit-body -->

</div>
  {% include themes/OPI-theme/_footer.html %}
	</div><!-- body -->
